@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

body {
  font-family: 'Pixelify Sans', cursive;
  font-weight: 800;
  font-size: 30px;
  color: #e9ecef;
  background: #495057;
}
