.appBlock {
  color: #6c757d;
  padding: 20px;
  margin: 20px;
  border-radius: 6px;
  background: #ced4da;
  text-align: center;
  box-shadow: 0px 5px 35px 0px #343a40;
}

.noneBooks {
  color: #cf2a2a;
}

.booksWrap {
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  li {
    display: flex;
    flex-wrap: nowrap;
    row-gap: 10px;
    transition: all 0.2s ease-in-out;
    align-items: center;
    justify-content: space-between;
    color: #6c757d;
    font-size: 16px;
    text-align: left;
    border-radius: 6px;
    padding: 15px 25px;
    background: #f8f9fa;

    .highLight {
      background-color: #ff0;
    }

    @media (max-width: 810px) {
      flex-direction: column;
    }

    &:nth-child(even) {
      background-color: #e9ecef;
    }
    &:hover {
      background: #dee2e6;
    }

    .author {
      color: #343a40;
    }
  }
  .textWrap {
    flex: 1;
    flex-basis: 65%;
  }

  .btnWrap {
    display: flex;
    flex: 1;
    flex-basis: 35%;
    column-gap: 6px;
    align-items: center;
    justify-content: center;
  }

  .togleFavorit {
    margin-top: 2px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 0;
    width: 35px;
    height: 35px;
    color: #e2d300;
  }

  .deletBtn {
    display: flex;
    align-items: center;
    column-gap: 5px;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    color: #cf2a2a;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 6px;
    background: #f8f9fa;
    border: 2px solid #cf2a2a;

    &:hover {
      background: #ffacac;
    }
  }
}
